rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function uidCheck() {
    	// Will confirm they're authenticated at all and have a UID
    	return request.auth != null && request.auth.uid != null
    }
    
  	match /teachers/{teacher_id} {
    	allow read, write: if uidCheck() && request.auth.uid == resource.data.uid
    	allow create: if uidCheck()
    }
    
  	match /students/{student_id} {
    	allow read, write: if uidCheck() // && request.auth.uid == resource.data.uid
    	allow create: if uidCheck()
    }
    
  	match /students/{student_id}/invites/{invite_id} {
    	allow read, write: if uidCheck() // && request.auth.uid == resource.data.uid
    	allow create: if uidCheck()
    }
    
  	match /clubs/{club_id}/{anyClubGroup=**} {
    	allow read: if uidCheck() && club_id in get(/databases/$(database)/documents/students/$(request.auth.uid)).data.clubs;
    	allow read, write: if uidCheck() && request.auth.uid in get(/databases/$(database)/documents/clubs/$(club_id)).data.teachers;
    	allow create: if uidCheck()
    }
    
  	match /publiclessons/{publiclesson_id} {
    	allow read: if uidCheck()
    }
    
  	match /publicentryforms/{publiclesson_id} {
    	allow read: if true
    	allow write: if uidCheck() && request.auth.uid == resource.data.uid
    	allow create: if uidCheck()
    }
    
  	match /submittedentries/{submittedentry_id} {
      allow read: if uidCheck() // && ((request.auth.uid == resource.data.uid) || (submittedentry_id == get(/databases/$(database)/documents/clubs/$(resource.data.clubId)).data.entryFormId && request.auth.uid in get(/databases/$(database)/documents/clubs/$(resource.data.clubId)).data.teachers));
    	allow create: if uidCheck();
    	allow write: if uidCheck() && submittedentry_id == get(/databases/$(database)/documents/clubs/$(resource.data.clubId)).data.entryFormId && request.auth.uid in get(/databases/$(database)/documents/clubs/$(resource.data.clubId)).data.teachers;
      allow delete: if uidCheck()
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}